html, body {
  background-color: black;
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  width: 100%;
  color: white;
}

h1 {
  text-align: center;
  font-family: Lato;

}

#grid {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.column {
  padding-left: 0px;
  margin: -3px;
}

.tile {
  width: 20px;
  height: 20px;
  margin: 7px;
  background-color: #333333;
  cursor: pointer;
  border-radius: 2px;
}

.tile-selected {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  margin: 7px;
  background-color: #EEEEEE;

  cursor: pointer;
  position: relative;
}

.hit {
  animation: blink 0.2s;
}

#selected {
  background-color: white;
}
/*
@-webkit-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px
    to { background-color: #F00; }
}
@-moz-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px
    to { background-color: #F00; }
}
@-ms-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px
    to { background-color: #F00; }
}
@-o-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px
    to { background-color: #F00; }
}*/
@keyframes blink {
    from { background-color: #eee; }
    50% { background-color: #fff; box-shadow: 0px 0px 40px 25px #FFF;
    to { background-color: #eee; }
}
